services:
  app:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 80 --reload
    ports:
      - "80:80"
    volumes:
      - ./app:/usr/src/app/app
      - ./tests:/usr/src/app/tests
      - ./pytest.ini:/usr/src/app/pytest.ini
    env_file:
      - .env
